
# http://editorconfig.org

root = true

# Defaults

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt, kts, java, groovy, gradle}]
indent_size = 4
indent_style = space

[*.sql]
indent_size = 4
indent_style = space

[*.md]
trim_trailing_whitespace = false

[*.{js, css, html, json, yaml}]
indent_size = 2
indent_style = space

[*.{sh, bash, zsh}]
indent_size = 4

[{Makefile, makefile}]
indent_style = tab
indent_size = 4

[*.kt]
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members  = 999
